body {
  margin: 0;
  padding: 0;
  background: #002236 url(../images/img01.gif) repeat-x;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #181B20; }
  body #wrapper {
    margin: 0 auto;
    padding: 0;
    background: url(../images/img03.gif) no-repeat center top; }
    body #wrapper h1, body #wrapper h2, body #wrapper h3 {
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      font-family: "Oswald", sans-serif;
      font-weight: normal;
      color: #2483A6; }
    body #wrapper p, body #wrapper ul, body #wrapper ol {
      margin-top: 0;
      line-height: 180%; }
    body #wrapper a {
      text-decoration: none;
      color: #2483A6; }
      body #wrapper a:hover {
        text-decoration: underline; }
    body #wrapper #header-wrapper {
      height: 167px;
      background: url(../images/img02.gif) no-repeat center top; }
      body #wrapper #header-wrapper #header {
        width: 960px;
        height: 167px;
        margin: 0 auto; }
        body #wrapper #header-wrapper #header #logo {
          width: 980px;
          margin: 0px auto;
          padding: 40px 0px 0px 0px;
          color: #FFFFFF; }
          body #wrapper #header-wrapper #header #logo h1 {
            display: block;
            padding: 0;
            margin: 0;
            letter-spacing: -1px;
            text-align: center;
            text-transform: uppercase;
            font-size: 54px;
            font-weight: bold;
            color: #FFFFFF; }
            body #wrapper #header-wrapper #header #logo h1 a {
              border: none;
              background: none;
              text-decoration: none;
              color: #FFFFFF; }
        body #wrapper #header-wrapper #header p {
          margin-top: -10px;
          text-align: center;
          text-transform: uppercase;
          font-family: "Arvo", serif;
          font-size: 20px; }
    body #wrapper #menu-wrapper {
      height: 58px;
      background: url(../images/img03.gif) no-repeat center top; }
      body #wrapper #menu-wrapper #menu {
        width: 940px;
        height: 58px;
        margin: 0px auto;
        padding: 0px 20px 0px 20px; }
        body #wrapper #menu-wrapper #menu ul {
          margin: 0;
          padding: 0px 0px 0px 0px;
          list-style: none;
          line-height: normal; }
          body #wrapper #menu-wrapper #menu ul li {
            float: left; }
            body #wrapper #menu-wrapper #menu ul li a {
              display: block;
              float: left;
              height: 56px;
              margin: 0px;
              padding: 0px 30px 0px 30px;
              line-height: 56px;
              letter-spacing: 1px;
              text-decoration: none;
              text-transform: uppercase;
              font-family: "Oswald", sans-serif;
              font-size: 14px;
              font-weight: normal;
              color: #B5B5B5;
              border: none; }
        body #wrapper #menu-wrapper #menu .current_page_item a {
          color: #FFFFFF; }
          body #wrapper #menu-wrapper #menu .current_page_item a:hover {
            text-decoration: none;
            color: #FFFFFF; }
    body #wrapper #page {
      background: url(../images/img05.gif) repeat-y center top; }
      body #wrapper #page #page-bgbtm {
        overflow: hidden;
        padding: 40px 30px 0px 30px;
        background: url(../images/img06.gif) no-repeat center bottom; }
        body #wrapper #page #page-bgbtm #page-content {
          width: 920px;
          margin: 0px auto; }
          body #wrapper #page #page-bgbtm #page-content #content {
            float: left;
            width: 610px;
            padding: 0px 0px 0px 0px; }
            body #wrapper #page #page-bgbtm #page-content #content .post {
              clear: both;
              padding-bottom: 10px; }
              body #wrapper #page #page-bgbtm #page-content #content .post .title {
                padding-top: 10px;
                letter-spacing: -2px; }
                body #wrapper #page #page-bgbtm #page-content #content .post .title a {
                  color: #2483A6;
                  border: none; }
              body #wrapper #page #page-bgbtm #page-content #content .post .meta {
                padding-bottom: 10px;
                text-align: left;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 11px;
                font-style: italic; }
              body #wrapper #page #page-bgbtm #page-content #content .post .entry {
                text-align: justify;
                margin-bottom: 25px;
                padding: 10px 0px 0px 0px; }
                body #wrapper #page #page-bgbtm #page-content #content .post .entry .links {
                  display: block;
                  width: 96px;
                  padding: 2px 0px 2px 0px;
                  background: #A53602;
                  text-align: center;
                  text-transform: uppercase;
                  font-size: 10px;
                  color: #FFFFFF; }
          body #wrapper #page #page-bgbtm #page-content #sidebar {
            float: right;
            width: 230px;
            padding: 0px 0px 0px 0px; }
            body #wrapper #page #page-bgbtm #page-content #sidebar h2 {
              height: 38px;
              margin-bottom: 20px;
              padding: 12px 0 0 15px;
              border-bottom: 1px dashed #b3b0b0;
              letter-spacing: -1px;
              font-size: 24px;
              color: #2483A6; }
            body #wrapper #page #page-bgbtm #page-content #sidebar p {
              margin: 0 0px;
              padding: 0px 20px 20px 20px;
              text-align: justify; }
            body #wrapper #page #page-bgbtm #page-content #sidebar a {
              border: none; }
              body #wrapper #page #page-bgbtm #page-content #sidebar a:hover {
                text-decoration: underline; }
            body #wrapper #page #page-bgbtm #page-content #sidebar ul {
              margin: 0;
              padding: 0;
              list-style: none; }
              body #wrapper #page #page-bgbtm #page-content #sidebar ul li {
                margin: 0;
                padding: 0; }
                body #wrapper #page #page-bgbtm #page-content #sidebar ul li ul {
                  margin: 0px 15px;
                  padding-bottom: 30px; }
                  body #wrapper #page #page-bgbtm #page-content #sidebar ul li ul li {
                    line-height: 35px; }
                    body #wrapper #page #page-bgbtm #page-content #sidebar ul li ul li a {
                      color: #181B20; }
                    body #wrapper #page #page-bgbtm #page-content #sidebar ul li ul li span {
                      display: block;
                      margin-top: -20px;
                      padding: 0;
                      font-size: 11px;
                      font-style: italic; }
      body #wrapper #page img.border {
        border: 6px solid #eee7df; }
      body #wrapper #page img.alignleft {
        float: left;
        margin-right: 25px; }
      body #wrapper #page img.alignright {
        float: right; }
      body #wrapper #page img.aligncenter {
        margin: 0px auto; }
    body #wrapper a {
      text-decoration: none;
      color: #2483A6; }
  body #footer {
    width: 960px;
    height: 55px;
    margin: 0px auto 40px auto;
    background: url(images/img07.gif) no-repeat center top;
    font-family: Arial, Helvetica, sans-serif; }
    body #footer p {
      margin: 0;
      padding-top: 18px;
      line-height: normal;
      text-align: center;
      color: #576475; }
    body #footer a {
      color: #576475; }
