[submodule "system"]
	path = system
	url = git@github.com:kohana/core.git
[submodule "modules/database"]
	path = modules/database
	url = git@github.com:kohana/database.git
[submodule "modules/kostache"]
	path = modules/kostache
	url = git@github.com:zombor/KOstache.git
[submodule "modules/notices"]
	path = modules/notices
	url = git@github.com:sortex/kohana-notices.git
[submodule "modules/orm"]
	path = modules/orm
	url = git@github.com:kohana/orm.git
[submodule "modules/auth"]
	path = modules/auth
	url = git@github.com:kohana/auth.git
[submodule "modules/email"]
	path = modules/email
	url = git@github.com:shadowhand/email.git
[submodule "modules/image"]
	path = modules/image
	url = git@github.com:kohana/image.git
[submodule "modules/cache"]
	path = modules/cache
	url = git@github.com:kohana/cache.git
[submodule "modules/pagination"]
	path = modules/pagination
	url = git@github.com:sortex/kohana-pagination.git
