<h2>Регистрация</h2>
<form id="reg_form" action="{{base_url}}user/registration" method="POST">
	<label>
		Username
		<input id="username" type="text" name="user_name"/>
	</label>
	<label>
		Password
		<input id="pass" type="password" name="password"/>
	</label>
	<input class="btn btn-primary" type="submit" value="Submit"/>
</form>