<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{base_url}}media/css/notices.css" />
	<link rel="stylesheet" type="text/css" href="{{base_url}}media/css/bootstrap-responsive.css" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="{{base_url}}media/js/bootstrap.min.js"></script>
	<script src="{{base_url}}media/js/notices.js"></script>
	<title>{{title}}</title>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
{{>header}}
	{{>content}}
		{{#show_profiler}}
			<div id="profiler">
				<hr />
				{{{profiler}}}
			</div>
		{{/show_profiler}}
</div>
{{>footer}}
</body>
</html>