<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="media/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="media/css/formalize.css" />
    <link rel="stylesheet" type="text/css" href="media/css/notices.css" />
    <link rel="stylesheet" type="text/css" href="media/css/style.css" />
    <title>{{title}}</title>
</head>
<body>
<div id="wrapper">
{{>header}}
		{{>content}}
	{{#show_profiler}}
        <div id="profiler">
            <hr />
			{{{profiler}}}
        </div>
	{{/show_profiler}}
</div>
{{>footer}}
</body>
</html>