<div id="footer" class="navbar navbar-inverse navbar-fixed-bottom">
	<div class="navbar-inner">
			<p style="display: none">Copyright (c) 2012 Sitename.com. All rights reserved. Design by <a ref="http://www.freecsstemplates.org/"> CSS Templates</a>.</p>
			<div class="container">
				<p>All rights reserved &copy;</p>
			</div>
	</div>
</div>