<div id="footer">
    <p style="display: none">Copyright (c) 2012 Sitename.com. All rights reserved. Design by <a ref="http://www.freecsstemplates.org/"> CSS Templates</a>.</p>
	<p>All rights reserved &copy;</p>
</div>