<div class="navbar-inner">
    <div class="container-fluid">
        <div class="span10">
            <h1><a href="{{base_url}}">Vexen</a></h1>
            <p>We can do everything</p>
        </div>
    </div>
</div>
<!-- end #header -->
<div id="menu-wrapper">
    <div id="menu">
        <ul class="nav unstyled">
            <li class="current_page_item"><a href="{{base_url}}">Home</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Photos</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Links</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</div>
{{>notices}}